.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}

.image {
  width: 180px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.title {
  margin-left: 10px;
}

/* .buttonContainer {
  cursor: pointer;
}
.button {
    position: absolute;
    width: 100px;
    height: 100px;
} */

.addIcon {
  height: 50px;
}

.reviewContainer {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.reviewTitle {
  margin-left: 20px;
}

.userImage {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

button {
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 5px;

  cursor: pointer;
  width: 100px;
  margin-left: 5px;

}

.buttonContainer {
  display: flex;
  
}
